.corpoCurriculo {
    display: flex;
    height: auto;
    background-color: var(--corQuaternaria);    
    width: 100%;
    overflow-y: hidden;
    padding: 1.3em;
}
.swipeLfet{
    display: none;
}
.imagemCurriculo {
    display: flex;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}


@media (max-width: 720px) {
    .corpoCurriculo{
        margin:0;
        position: relative;
        z-index: 0;
        padding: 0.2em;
    }
    .imagemCurriculo {
        width: 160%;
        height: 92%;
        object-fit: cover;
        overflow: scroll;        
    }
    .swipe{
        display: flex;
        width: 36px;
        height: 36px;
        position: sticky;
        right: 3%; /* Distância da direita (ajuste conforme necessário) */
        float: right; /* Alinha à direita dentro do container */
        margin-top: -195%; /* Ajuste para posicionar verticalmente */
        z-index: 20; /* Fica acima do conteúdo */
        border-radius: 30%;
    }
}


@media (min-width: 721px) and (max-width: 1300px) {
    .corpoCurriculo{
        padding: 0;
        margin:0;
        position: relative;
        z-index: 0;
    }
    .imagemCurriculo {
        width: 160%;
        height: 92%;
        object-fit: cover;
        overflow: scroll;        
    }
    .swipeLfet{
        display: flex;
        width: 32px;
        height: 32px;
        position: sticky;
        right: 10%; /* Distância da direita (ajuste conforme necessário) */
        float: right; /* Alinha à direita dentro do container */
        margin-top: -185%; /* Ajuste para posicionar verticalmente */
        z-index: 20; /* Fica acima do conteúdo */
        border-radius: 30%;
    }
}