.corpoCurriculo {
    height: auto;
    background-color: var(--corQuaternaria);
    padding: 1rem;
    width: 100%;
    overflow-x: auto;
    min-height: 100vh;
}

.imagemCurriculo {
    display: flex;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.imagemCurriculo:hover {
    border: 1px solid rgba(255, 255, 255, 0.466);
}
@media (max-width: 720px) {
    .imagemCurriculo {
        margin: -35px;
        width: 180%;
        height: 90dvh;
       /* margin-bottom: 40px; */
       
    }
}

@media (min-width: 721px) and (max-width: 1300px) {
    .imagemCurriculo {
        width: 80%;
        height:auto;
        /* margin-bottom: 40px; */
    }
}
