.corpoTemporario {
    grid-area: mainContent;
    height: auto;
    min-height: 100%;
    background-color: var(--corQuaternaria);
    padding: 1.25rem;
    width: 100%;
    overflow: hidden;
}
.imagemTemporario{
    display: flex;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 720px) {
    .imagemTemporario{
        width: 100%;
        height: auto;
    }
}