
:root {
  /* Fontes (mantendo as suas) */
  --fonteTitulo: 'Poppins', sans-serif;
  --fonteTexto: 'Inter', sans-serif;

  /* Paleta de Cores - Fundo */
  --corPrimaria: #121212; /* Preto profundo para o fundo principal */
  --corSecundaria: #1E1E1E; /* Cinza muito escuro para elementos secundários */
  --corTerciaria: #282828; /* Cinza escuro para elementos terciários */
  --corQuaternaria: #333333; /* Cinza médio para elementos quaternários */
  --corQuinta: #444444; /* Cinza um pouco mais claro para elementos quíntuplos */

  /* Tons de Cinza Claro */
  --corCinzaClaro: #E0E0E0; /* Cinza claro */
  --corCinzaMuitoClaro: #F5F5F5; /* Cinza muito claro */
  --corCinzaNeumorfismo: #BEBEBE; /* Cinza para efeito neumorfismo */

  /* Tons Metálicos */
  --corMetalicaPrataEscuro: #5A5A5A; /* Cinza metálico escuro */
  --corMetalicaCinza: #7A7A7A; /* Cinza metálico claro */

  /* Paleta de Cores - Texto */
  --corTextoPrimario: #FFFFFF; /* Branco para texto primário */
  --corTextoSecundario: #E0E0E0; /* Branco ligeiramente mais escuro para texto secundário */
  --corTextoDestaque: #FFFFFF; /* Branco para destaques */
  --corTextoLink: #89B4FA; /* Azul claro para links */
  --corTextoLinkHover: #A6CDFF; /* Azul mais claro no hover */

  /* Cores de Texto Escuro */
  --corTextoEscuroPrimario: #333333; /* Cinza escuro para texto primário em fundos claros */
  --corTextoEscuroSecundario: #555555; /* Cinza médio para texto secundário em fundos claros */
  --corTextoEscuroDestaque: #222222; /* Preto suave para destaques em fundos claros */

  /* Elementos Brancos */
  --corElementoBranco: #FFFFFF; /* Branco para elementos específicos */
  --corElementoBrancoHover: #F0F0F0; /* Branco ligeiramente mais escuro no hover */

  /* Botões */
  --corBotaoPrimario: #48BB78;
  --corBotaoPrimarioHover: #36A764;
  --gradienteHoverBTN: linear-gradient(135deg, #48BB78, #282828); 
  --corBotaoSecundario: #282A2E;
  --corBotaoSecundarioHover: #33363B;

  /* Feedback */
  --corSucesso: #28a745;
  --corAviso: #ffc107;
  --corErro: #dc3545;
  --corInfo: #17a2b8;

  /* Gradientes */
  --gradientePrimario: linear-gradient(135deg, #FFFFFF 0%, #A0A0A0 100%); /* Branco puro para cinza metálico */
  --gradienteHover: linear-gradient(135deg, #48BB78, #010101); /* Branco com transparência para cinza médio */
  --gradienteElemento: linear-gradient(135deg, #666666, rgba(255, 255, 255, 0.3)); /* Cinza médio escuro para branco com transparência */

  /* Outras Cores */
  --corBorda: rgba(255, 255, 255, 0.1);
  --corSombras: 15px 15px 30px #282A2E, -15px -15px 30px #44474A;

  --corNeumorfismoFundo: #1E1E1E; /* Cor de fundo para o elemento */
  --corNeumorfismoSombraClara: #282828; /* Sombra clara para o efeito */
  --corNeumorfismoSombraEscura: #121212; /* Sombra escura para o efeito */
}

html {
  /* scrollbar-width: none;  */
  overflow-x: hidden;
  font-size: 16px;
  /* Defina um tamanho base para o rem */
}

*{
box-sizing: border-box;
user-select: none;
}

.body {
  font-size: 1rem;
  color: var(--corTextoPrimario);
  font-family: var(--fonteTexto);
  display: grid;
  grid-template-columns: minmax(7%, auto) 1fr ;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
      "header header header "
      "navigation navigation navigation"
      "leftSidebar mainContent mainContent"
      "leftSidebar footer footer";
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  /*ultima alteração, corrrigiu o footer*/
}

.home {
  grid-area: mainContent;
  min-height: 20.125rem;
  max-height: 100vh;
  background-color: var(--corQuaternaria);
  border-left: 1px solid var(--corPrimaria);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  scrollbar-width: thin; 
  scrollbar-color: var(--corBotaoSecundario) var(--corCinzaClaro);
  overflow-y: auto;
  background-size: 50% auto;
}

@media (min-width: 460px) and (max-width: 1300px) {
  .home{
    padding: 0.5rem;
  }
}
